
{% block content %}
<h2 class='text-center'>Edit Your Profile</h2>

<form method='POST' action=''>
    {% csrf_token %}

    {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %}
    </div>

    {% if form.errors %}

    <div class="alert alert-warning alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
            <small><sup>x</sup></small>
        </button>
    <p>Your Form Has Errors...</p>
    {% for field in form %}
        {% if field.errors %}
            {{field.errors}}
        {% endif %}
    {% endfor %}
   </div>

  {% endif %}

    {{form.as_p}}
    
    <a href='home1'><input type='submit' value='Save Changes'> <a href='/'>Back</a>
   
</form>
<br/>
<p><a href='/account/change_password'>Click Here </a> To Change Your Password</p>
{% endblock %}