{% extends 'base.html' %}

{% block content %}
<h1>Profile Page</h1><br><br>

<div class="container">
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
            {{message}}
           </div>
            {% endfor %}
           
          {% endif %}
      </div><br><br>
       
    {% if user.is_authenticated %}
    <p>Name : {{user.first_name}} {{user.last_name}}</p><br>
    <p>Username : {{user.username}}</p><br>
    <p>Email : {{user.email}}</p><br>
    {% endif %}

   <a href='/'>Back</a>
   {% endblock %}