<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>traiticketbook.com</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!--<link href="css/normalize.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
   
   <header>
		<div class="main">
		<div class="logo">
		<!--	<img src=logo.png" alt=""> -->
		</div>
		<ul>
			<li><a href='/'>Home</a></li>
           <li><a href='/account/register'>Register</a></li>
			     <li><a href='/account/login'>Login</a></li>
			
			     <li  class="active"><a href='account/pnr'>PNR Enquiry</a></li>
			     <li><a href='/account/about'>About</a></li>
			     <li><a href='/account/contact'>Contact</a></li>
    </ul>
  
		</div>
    <br><br><br><br><br><br><br>
    <h1>PNR Enquiry</h1><br>
    <form action="login" method="post">
    {% csrf_token %}

    <h2> Passanger Current Status Enquiry<h2><br>

    <h3> Enter the PNR for your booking below to get the current status.</h3><br><br>
<div class="form-group">
    <h2> Enter PNR No. <h2> <br>
    
     <input id="text" placeholder="Enter PNR No" type="text"/><br><br>

        <button type="submit" class=" btn-success"  >Submit </button>
    
      </div>
                   
  </body>
</html>